src/main/resources/Planes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="planes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="plane" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="model"/>
                            <xs:element type="xs:string" name="origin"/>
                            <xs:element name="chars">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Fighter"/>
                                                    <xs:enumeration value="Recon"/>
                                                    <xs:enumeration value="Interceptor"/>
                                                    <xs:enumeration value="Attack"/>
                                                    <xs:enumeration value="Chase"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="crew">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="One"/>
                                                    <xs:enumeration value="Two"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ammo">
                                            <xs:complexType mixed="true">
                                                <xs:sequence>
                                                    <xs:element name="rocket" minOccurs="0" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:int">
                                                                <xs:minInclusive value="0"/>
                                                                <xs:maxInclusive value="10"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:boolean" name="radar" minOccurs="0" maxOccurs="1"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:boolean" name="status" use = "required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="parameters">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="length">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minExclusive value="0"/>
                                                    <xs:maxInclusive value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="width">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minExclusive value="0"/>
                                                    <xs:maxInclusive value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="height">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minExclusive value="0"/>
                                                    <xs:maxInclusive value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="price">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minExclusive value="0"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>